@tailwind base;
@tailwind components;
@tailwind utilities;

.font {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.hover\:nav-text-trans:hover  {
    --tw-bg-opacity: 1;
    text-transform: uppercase;
    font-weight: 700;
    transition-duration: .3s;
    padding: .25rem 1rem .25rem 1rem;
    --tw-translate-x: 0.5rem/* 20px */;
    border-top-left-radius: .5rem/* 8px */;
    border-bottom-left-radius: .5rem/* 8px */; 
    border-top-right-radius: .5rem/* 8px */; 
    border-bottom-right-radius: .5rem/* 8px */; 
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;

    --tw-shadow: inset 0 2px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: inset 0 2px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);    

    --tw-shadow-color: #6b7280;
    --tw-shadow: var(--tw-shadow-colored);
}

.hover\:send-button:hover {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));

    --tw-gradient-from: #fff var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to); 

    --tw-gradient-to: #16a34a var(--tw-gradient-to-position);
}